/* Box Model thing */
* {
	box-sizing: border-box;
}

/* Clear fix thing */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
   clear: both;
}

/* start main CSS */

:root {
      --primary-color: #7AA874;
      --secondary-color: #D864A9;
      /* --tertiary-color: #3C435C; */
      --tertiary-color: #2D8A7C;
}

footer {
	border-top: 3px solid var(--tertiary-color);
	margin-top: 3rem;
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer p {
	margin: 0 2rem;
}